<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Greeting</title>
</head>
<body>
    <h1>Hello from the Pokemon EJS!</h1>
    <h2><%= pokemonDetails.name %></h2>
    <h3>Type: <%= pokemonDetails.type %></h2>
    <h3>Skills:</h2>
    <ul>
        <li><%= pokemonDetails.skills %></li>
    </ul>
</body>
</html>